body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#254D8F;
}

body { padding: 0px; margin: 0px;}
div { padding: 0px; margin: 0px; }
table, th, td {
    border:1px solid black;
  }
caption { 
    border:1px solid black; 
    font-size: 1.3em;
    font-family:'Consolas';
    font-weight: bold;
    background-color:#5ADB62
}

.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 3em;
    place-items: center;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(6, auto);
 
    
}

.tbl-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

}

.responsive-table{
  grid-row: 1;
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
  font-size: .9em; 
  font-family: 'Courier New', Courier, monospace;
  background-color: beige;
  
}

.img-div{
    grid-column: 1;
    grid-row: 1;
}


#username
{ 
    grid-row: 1;
    grid-column: 1;
    color:#AEDC01;
    font-family:'Arial';
    font-size: 14px;
    padding-left: 35%;
    padding-top: 2em;
    
   

}

#email{
    grid-row: 1;
    grid-column: 1;
    color: white;
    font-family:'Arial';
    font-size: 14px;
    padding-top: 4em;
    padding-left: 35%;
    
    
}

#logout-Btn{
    grid-row: 4/5;
    grid-column: 2;
    width: 50%;
    height : 100%;
    color: black;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 2em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

#usernameForm{
    grid-row: 2/4;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2.5em;

}

#passwrdForm{
    grid-row: 4/6;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2.5em;
}

#profile-image{
    height: 5.5em;
    padding-top: 2em;
}

#scores{
    grid-column: 2;
    grid-row: 1/6;
    color: white;
    font-size: 14px;
    padding-top: 2em;
    padding-left: 2em;
}

#page-title{
    grid-row:1;
    text-align: center;
    font-size:xx-large;
    font-family:'Consolas';
    background-color:#5ADB62;
    padding: 0.7em;
    margin: 0em;
}

@media(max-width:500px){

    .container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: repeat(10, auto);
     
        
    }

    #scores{
        grid-column: 1;
        grid-row: 6/9;
        padding-top: 2em;
        padding-left: 2em;
    }

    #logout-Btn{
        grid-column: 1;
        grid-row: 10;
        height : 90%;
        margin-top: 1em;
        margin-left: 2em;
        
    }

}



